* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 8%;
  background: #fff;
}
.card {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 8%;
}
.logo { font-size: 28px; font-weight: bold; color: #008000; }
.logo span { color: #60b347; }
nav a { margin-right: 20px; text-decoration: none; color: #000; }
.btn-login, .btn-shop {
  background: #60b347; color: #fff; border-radius: 6px; padding: 10px 20px;
  border: none; cursor: pointer;
}
.hero { padding: 60px 8%; }
footer { background: #008000; color: #fff; text-align: center; padding: 15px; }

nav a:hover{
  color:green;
}
.btn-login{
  padding:8px 18px;
  background:#cb0b54;
  color:white;
  border-radius:6px;
  border:none;
  cursor:pointer;
}
.hero {
  position:relative;
  height:85vh;
  background:image("images/Home.png")center/cover no-repeat;
}