header{
    width: 100%;
    padding:18px 60px;
    background:greenyellow;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
*{margin:0;padding:0;box-sizing:border-box;font-family:Arial, sans-serif;}
header h2{font-size:28px;font-weight:bold;}
header nav a{color:white;text-decoration:none;margin-left:25px;font-size:17px;transition:.3s;}
header nav a:hover{opacity:.7;}


.hero{
background:url('https://images.unsplash.com/photo-1601905391231-2c907f14f0b7?auto=format&fit=crop&w=1200&q=60') center/cover no-repeat;
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:0 40px;
color:white;
}
.hero h1{font-size:52px;font-weight:700;margin-bottom:12px;}
.hero p{font-size:20px;max-width:700px;}
.btn-primary{padding:14px 26px;background:#66BB6A;color:white;border:none;border-radius:8px;margin-top:25px;font-size:18px;cursor:pointer;transition:.3s;}
.btn-primary:hover{background:#338a3e;}


.features{
padding:60px 80px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}
.card{
background:white;
padding:25px;
border-radius:12px;
box-shadow:0 2px 8px rgba(0,0,0,0.1);
text-align:center;
transition:.3s;
}
.card:hover{transform:translateY(-6px);}
.card h3{color:#1313a7;margin-bottom:12px;font-size:22px;}
.card p{font-size:16px;line-height:1.5;}


footer{
background:#1b1b1b;
color:#bfbfbf;
padding:18px;
text-align:center;
}
body{
    background-image:images/ben-moreland-auijD19Byq8-unsplash.jpg";
    background-size: cover;
}
