/* GENERAL */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7f7f7;
}

/* HEADER */
header {
  background: #1a4d2e;
  color: #fff;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 26px;
  font-weight: bold;
}

header .logo span {
  color: #ffdd57;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 12px;
}

nav .active {
  border-bottom: 2px solid #ffdd57;
}

.btn-login {
  background: #ffdd57;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

/* HERO */
.product-hero {
  text-align: center;
  padding: 50px;
  background: url('images/Products.jpeg') no-repeat center/cover;
  color: rgb(45, 231, 147);
}

.product-hero h1 {
  font-size: 40px;
}

/* FILTER + SEARCH */
.product-filter {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}

.product-filter select,
.product-filter input {
  padding: 10px 14px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* PRODUCT GRID */
.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 50%;
  margin: auto;
}

.product-card {
  background: rgb(91, 211, 12);
  padding: 1opx;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform .2s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.product-card h3 {
  margin: 10px 0;
}

.price {
  font-weight: bold;
  color: #09e2e6;
}
h2 {
  font-size: 28px;
  text-align: center;
}