/* GENERAL */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url(https://actualidadganadera.com/wp-content/uploads/2021/05/agrovet-market-logo.jpg);
}

/* HEADER */
header {
  background: #1a4d2e;
  color: #fff;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 26px;
  font-weight: bold;
}

header .logo span {
  color: #ffdd57;
}

.category-title {
  font-size: 28px;
  margin-bottom: 20px;
  border-left: 5px solid #1ea81e;
  padding-left: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 12px;
}

nav .active {
  border-bottom: 2px solid #ffdd57;
}

.btn-login {
  background: #ffdd57;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

/* HERO */
.product-hero {
  text-align: center;
  padding: 50px;
  background: url('images/Products.jpeg') no-repeat center/cover;
  color: rgb(45, 231, 147);
}

.product-hero h1 {
  font-size: 40px;
}

/* FILTER + SEARCH */
.product-filter {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}

.product-filter select,
.product-filter input {
  padding: 10px 14px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* PRODUCT GRID */
.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 50%;
  margin: auto;
}

.product-card {
  background: rgb(199, 222, 184);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(21, 60, 149, 0.1);
  transition: transform .2s;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  width: 90%;
  margin: 40px auto;
}

.product-card:hover {
  transform: scale(1.05);
}

/* Image container styles */
.image-container {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.image-container img {
  width: 50%;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
}

.product-card h3 {
  margin: 10px 0;
}

.price {
  font-weight: bold;
  color: #191b1c;
}
h2 {
  font-size: 28px;
  text-align: center;
  color:white;
}
h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
  color:blue;
}
